<br />
<br />
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        @*             <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/746/626/desktop-wallpaper-cool-profile-gaming-gaming-profile.jpg" class="navbar-brand-img" alt="...">
        </a>
        </div> *@
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->

                <br />
                <br />

                <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
                        <img alt="Image placeholder" src="@ViewBag.v">
                    </span>
                    <div class="media-body  ml-2  d-none d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold">@ViewBag.v1</span>
                    </div>
                </div>                    
                <br />
                <br />

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/HomePage/Index/">
                            <i class="ni ni-circle-08"></i>
                            <span class="nav-link-text">Kisiler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HomePage/Inbox/">
                            <i class="ni ni-email-83"></i>

                            <span class="nav-link-text">Gelen Mesajlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HomePage/Sendbox/">
                            <i class="ni ni-bold-up"></i>

                      
                            <span class="nav-link-text">Giden Mesajlar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/HomePage/SendMessage/">
                            <i class="ni ni-send"></i>                           
                            <span class="nav-link-text">Mesaj Gonder</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HomePage/UserSetting/">
                            <i class="ni ni-settings-gear-65"></i>
                            <span class="nav-link-text">Ayarlar</span>
                        </a>
                    </li>
        
    
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/LogOut/">
                            <i class="ni ni-fat-remove"></i>
                            <span class="nav-link-text">Cıkıs Yap</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->

            </div>
        </div>
    </div>
</nav>
